:root
{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D4;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm_black_os : #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #fff;
    --background-color: #E5E5E5;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

/* Header */
header
{
    min-width: 30px;
    height: 310px;
    position: relative;
    
    text-align: center;
    background: linear-gradient(207.8deg ,#201E1C 16.69%,#F7931A 100%);
}

header .header-logo
{
    margin-top: 40px;
    margin-bottom: 30px;
}

header .header__title
{
    width: 250px;
    margin: 0 auto;
}

header .header__title h1
{
    margin-bottom: 25px;
    color: var(--just-white);
    font-size: 2.2rem;
    line-height: 29px;
}
header .header__title p
{
    font-size: 1.4rem;
    color: var(--soft-orange);
}

header .header__slide
{
    height: 50px;
    width: 250px;
    position: absolute;    
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--off-white);
    border-radius: 5px;

    box-shadow: 5px 5px 12px -8px rgba(0,0,0,0.49);
}
header .header__slide p
{
    font-size: 1.4rem;
    font-weight: 700;
    margin-right: 15px;
    color: var(--warm_black);
   
}

header .header__slide span
{
    width: 15px;
    height: 20px;
    background-image: url("../assets/icons/down-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

/* CONTAINER TRANSACCIONES */
main
{
    width: 100%;
    background-color: var(--off-white);
}

.container-transacciones
{
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 60px;
}

.container-transacciones .container__image-bitcoin
{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-image: url("../assets/img/Bitcoin.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.container-transacciones .container__transacciones-title
{
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}

.container__transacciones-title h2
{
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 25px;
    font-weight: 700;
    color: var(--warm-black);
}

.container__transacciones-title p
{
    color:#757575;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 40px;
}


/*  TABLE */

.transacciones__table
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.transacciones__table span
{
    width: 30px;
    height: 30px;
    background-image: url("../assets/icons/right-arrow.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.transacciones__table .table-container
{
    width: 200px;
    height: auto;   
}

.transacciones__table .table-container h3
{
    margin-left: 12px;
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--bitcoin-orange);
    margin-bottom: 15px;
}

.table-container .table-container__item
{
    height: 160px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    background-color: var(--just-white);
    align-items: center;
    border-radius: 10px;
    
    font-family: 'Inter', sans-serif;
}   

.table-container .table-container__item .item_name
{
    font-weight: 500;
    margin-left: 12px;
    font-size: 1.6rem;
    color: #B5B0AC;
}

.table-container .table-container__item .item_cost
{
    display: flex;      
}

.table-container__item .item_cost p
{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0 14px;
    color: #757575;
}

.table-container .table-actualizacion
{
    width: 180px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;

    background-color: var(--soft-orange);
    border-radius: 5px;

    font-family: 'Inter', sans-serif;   
    font-size: 1.2rem;
    text-align: center;
    color: #282623;
}

.table-container .table-actualizacion p
{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

/* INFORMACION */
.info
{
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: var(--warm-black);

}

.info .info__title
{
    width: 290px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}

.info .info__title h4
{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 30px;
    color: var(--just-white);
}
.info .info__title p
{
    color: #808080;
    font-size: 14px;
}

.info .info__item
{
    width: 290px;
    padding: 25px 20px;
    margin: 0 auto;
    margin-bottom:  15px;

    background-color: #282623;
    border-radius: 5px;
    
} 

.info__item .info__item-title
{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--just-white);
}

.info__item .info__item-info
{
    color: #808080;
    font-size: 14px;
}

/* Section Image */
main .section-image
{
    width: 100%;
    height: 380px;
    padding-top: 60px;
    background-image: url("../assets/img/bitcoinbaby.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-image .section-image__title
{
    text-align: center;
    font-weight: 500;
    font-size: 2.4rem;
    color: var(--just-white);
}

/* Container Planes */
.planes
{
    
    width: 100%;
    height: auto;

    padding-top: 70px;
    padding-bottom: 60px;
    background-color: var(--off-white);
}

.planes .planes__container-title
{
    width: 290px;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
}
.planes .planes__container-title h6
{
    margin-bottom: 30px;
    line-height: 30px;
    font-weight: 1000;
    font-size: 2.4rem;
    color: var(--warm-black);
}

.planes .planes__container-title p
{
    font-size: 1.4rem;
    font-weight: 500;
    color: #757575;
}   

.planes-container
{
    width: 100%;
    display: grid;
    grid-template-columns: auto 180px auto;
    column-gap: 15px;
}

.planes-container .planes-container__item
{

    width: 100%;
    position: relative;
    padding-top:30px ;
    padding-bottom: 20px;

    border-radius: 10px;
    background-color: var(--just-white);

    box-shadow: 8px 8px 15px -8px rgba(0,0,0,0.49);
}

.planes-container__item .item--sugerencia
{

    width: 95px;
    height: 30px;
    padding-top: 6px;

    position: absolute;
    top: -15px;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: var(--bitcoin-orange);
    border-radius: 8px;

    color: var(--just-white);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;  
}   

.planes-container__item .item__container-element
{
    text-align: center;
    width: 150px;
    margin: 0 auto;
}

.item__container-element p:nth-child(1)
{
    color: #000;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.item__container-element .element-precio
{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.item__container-element .element-precio p:nth-child(2)
{
    color: #000;
    font-size: 5rem;
    font-weight: 900;
}


.item__container-element .element-precio + p
{
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #757575; 
}

.item__container-element .element-buy
{
    width: 100%;
    height: 45px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 5px;    

    font-size: 1.3rem;
    font-weight: 900;
}

.item__container-element .element-buy span
{
    width: 20px;
    height: 25px;
    margin-left: 10px;
    background-image: url("../assets/icons/orange-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

/* FOOTER */
footer
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    
    padding: 50px 0;
    background: var(--bitcoin-orange);
}

footer .footer_list
{
    color: var(--just-white);
    list-style: none;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 25px;
    margin-right: 50px;
}

footer .footer_logo
{
    display: flex;
    flex-direction: column;
    color: var(--just-white);
}

footer .footer_logo p:nth-child(1)
{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-image: url("../assets/icons/batata.svg");
    background-repeat: no-repeat;
    background-position: center;
}

